.App {
  text-align: center;
}

.film-box {
  background-color: rgb(216, 212, 203);
  border: thin solid black;
  margin: 10px;
  padding: 15px;
}

ul {
  list-style: disc outside none;
}

a {
  text-decoration: none;
}

.more-info {
  background: rgb(135, 180, 231);
  padding: 5px;
  border: thin solid black;
}

